Source: PACKAGENAME
Section: libdevel
Priority: extra
Maintainer: Your Name <your.name@somewhere>
Build-Depends: debhelper (>= 9), epics-debhelper (>= 8.14~),
               epics-dev,
Standards-Version: 3.9.6
Homepage: http://some.url/
Vcs-Git: https://github.com/epicsdeb/PACKAGENAME.git
Vcs-Browser: https://github.com/epicsdeb/PACKAGENAME

Package: epics-PACKAGENAME-dev
Architecture: any
Depends: libPACKAGENAME1 (= ${binary:Version}),
         ${shlibs:Depends}, ${misc:Depends},
         ${epics:Depends},
Conflicts: epics-synapps,
Description: Short description
 Long description
 with lines indented
 .
 This package contains headers and libraries needed at build time.

Package: libPACKAGENAME1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Conflicts: epics-synapps,
Description: Short description
 Long description
 with lines indented
 .
 This package contains runtime libraries
